# Virtual Envs
venv

# MIDI Files
*.mid

# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Logs:
*.log

# Eclipse
.project

# Linux Editors
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*
*.swp
*.swo

# Mac
.DS_Store
._*

# Windows
Thumbs.db
Desktop.ini

# Dev tools
.idea
.vagrant

# Node modules
node_modules/

# Coverage
htmlcov/
.coverage

# Local editor config files
.editorconfig
.ftpconfig
.ftpignore
.jshintignore
.lintignore
project.cson
