/media

# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Logs:
*.log

# Linux Editors
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*
*.swp
*.swo

# Mac
.DS_Store
._*

# Windows
Thumbs.db
Desktop.ini

# Dev tools and config files
.idea
.vagrant
.vscode
.editorconfig
.ftpconfig
.ftpignore
.jshintignore
.lintignore
project.cson
.env
.project

# Ignore local configurations
config/settings/user.py
config/settings/local.py
db.sqlite3

# Node modules
node_modules/
*node_modules/

#sass cache
*sass-cache/

# PostgreSQL Backups
db_backup/

# Coverage/Tests
htmlcov/
.coverage
django-queries-results.html
.pytest-queries

# dumpdata file
db.json
/static
/venv
/django-wrds.log*
/uninstall*
/src

# Ignore wrds styles visual diff tool related assets
/wrds_styles/visual_diff_tool/config.json
/wrds_styles/visual_diff_tool/screenshots/*
/wrds_styles/visual_diff_tool/comparison/*
/wrds_styles/visual_diff_tool/reference_screenshots/*
